<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title><%= project %></title>
	
	<link href="lib/bootstrap.css" rel="stylesheet">
	
	<link href="css/style.css" rel="stylesheet">
			
	<script src="lib/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="lib/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="lib/underscore.js" type="text/javascript" charset="utf-8"></script>
	<script src="lib/react.js" type="text/javascript" charset="utf-8"></script>
	<script src="lib/jsx.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="js/main.js" type="text/jsx" charset="utf-8"></script>
	
</head>
<body>
	<div id="content"></div>
	<script src="js/main.js" type="text/jsx" charset="utf-8"></script>
</body>

</html>